<mat-card>
  <mat-card-title>Portfolio</mat-card-title>
  <table [dataSource]="dataSource" [matSortActive]="dataSource.sortName" [matSortDirection]="dataSource.sortDirection"
         mat-table matSort
         matSortDisableClear>
    <ng-container matColumnDef="symbol">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Symbol</th>
      <td *matCellDef="let holding" mat-cell> {{holding.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="shares">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Shares</th>
      <td *matCellDef="let holding" mat-cell>{{holding.shares}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Price</th>
      <td *matCellDef="let holding" mat-cell>{{holding.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="bookValue">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Book Value</th>
      <td *matCellDef="let holding" mat-cell>{{holding.bookValue | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="marketValue">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Market Value</th>
      <td *matCellDef="let holding" mat-cell>{{holding.marketValue | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="gain">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Gain</th>
      <td *matCellDef="let holding" mat-cell>{{holding.gain | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="return">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Return</th>
      <td *matCellDef="let holding" mat-cell>{{holding.return | percent:"1.2-2"}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    <tr *matNoDataRow class="mat-row">
      <td [colSpan]="displayedColumns.length" class="mat-cell">Empty portfolio</td>
    </tr>
  </table>
  <mat-paginator [length]="dataSource.length()" [pageIndex]="dataSource.pageIndex" [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="dataSource.pageSize"></mat-paginator>
</mat-card>
