<mat-card>
  <mat-card-title>Portfolio</mat-card-title>
  <table [dataSource]="dataSource" mat-table matSort matSortDisableClear [matSortActive]="dataSource.sortName"
         [matSortDirection]="dataSource.sortDirection">
    <ng-container matColumnDef="symbol">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Symbol</th>
      <td *matCellDef="let holding" mat-cell> {{holding.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="shares">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Shares</th>
      <td *matCellDef="let holding" mat-cell>{{holding.shares}} </td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Price</th>
      <td *matCellDef="let holding" mat-cell>{{holding.price | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="bookValue">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Book Value</th>
      <td *matCellDef="let holding" mat-cell>{{holding.bookValue | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="marketValue">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Market Value</th>
      <td *matCellDef="let holding" mat-cell>{{holding.marketValue | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="gain">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Gain</th>
      <td *matCellDef="let holding" mat-cell>{{holding.gain | currency}} </td>
    </ng-container>
    <ng-container matColumnDef="return">
      <th *matHeaderCellDef mat-header-cell mat-sort-header>Return</th>
      <td *matCellDef="let holding" mat-cell>{{holding.return | percent:"1.2-2"}} </td>
    </ng-container>
    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    <tr *matNoDataRow class="mat-row">
      <td [colSpan]="displayedColumns.length" class="mat-cell">Empty portfolio</td>
    </tr>
  </table>
  <mat-paginator [pageIndex]="dataSource.pageIndex" [pageSize]="dataSource.pageSize" [length]="dataSource.length()"
                 [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</mat-card>
