<mat-card>
  <mat-card-title>Register</mat-card-title>
  <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
    <mat-form-field appearance="standard" class="block">
      <mat-label>Email</mat-label>
      <input formControlName="email" id="email" matInput type="text">
      <mat-error *ngIf="registrationForm.controls.email.hasError('duplicate')">Account already exists with this email
      </mat-error>
    </mat-form-field>
    <div class="group">
      <mat-form-field appearance="standard">
        <mat-label>Password</mat-label>
        <input formControlName="password" id="password" matInput type="password">
      </mat-form-field>
      <mat-form-field appearance="standard">
        <mat-label>Confirm password</mat-label>
        <input [errorStateMatcher]="passwordErrorStateMatcher" formControlName="confirm" id="confirm" matInput
               type="password">
        <mat-error *ngIf="registrationForm.hasError('invalidConfirm')">Passwords do not match</mat-error>
      </mat-form-field>
    </div>
    <div class="group">
      <button [disabled]="!registrationForm.valid" color="primary" mat-flat-button type="submit">Register</button>
      <button mat-flat-button routerLink="/login">Login with existing account</button>
    </div>
  </form>
</mat-card>
