<form (ngSubmit)="submitOrder()" [formGroup]="orderForm">
  <mat-button-toggle-group class="buy-sell-toggle-group" formControlName="sell">
    <mat-button-toggle [value]="false" class="buy-sell-toggle">Buy</mat-button-toggle>
    <mat-button-toggle [value]="true" class="buy-sell-toggle">Sell</mat-button-toggle>
  </mat-button-toggle-group>

  <mat-form-field appearance="standard">
    <mat-label>Shares</mat-label>
    <input formControlName="shares" matInput min="1" step="1" type="number" [errorStateMatcher]="sharesErrorStateMatcher">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <span matPrefix>$ &nbsp;</span>
    <mat-label>Price</mat-label>
    <input formControlName="executionPrice" matInput min="0" step="0.01" type="number">
  </mat-form-field>
  <mat-form-field appearance="standard">
    <span matPrefix>$ &nbsp;</span>
    <mat-label>Stop limit price</mat-label>
    <input formControlName="stopLimitPrice" matInput min="0" step="0.01" type="number">
  </mat-form-field>
  <mat-button-toggle-group formControlName="type">
    <mat-button-toggle *ngFor="let type of types" [value]="type.value">{{type.view}}</mat-button-toggle>
  </mat-button-toggle-group>
  <button [disabled]="!orderForm.valid" color="primary" id="submit" mat-flat-button type="submit">Submit</button>
</form>
